<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" 
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
<title>${site_name}-${site_subname}</title>
<link>${site_url}</link>
<description>${site_description}</description>
<pubDate>${now.strftime('%a, %d %b %Y %H:%M:%S GMT')}</pubDate>
<generator>${site_generator}</generator>
<language>zh-CN</language>
% for item in itemlist:
<item>
<title>${item.title | x}</title>
<link>${site_url}${item.beta}/</link>
<pubDate>${item.pubdate.strftime('%a, %d %b %Y %H:%M:%S GMT')}</pubDate>
<dc:creator>${site_generator}</dc:creator>
<category>${item.itemcat.name}</category>
<guid>${site_url}category/${item.itemcat.beta}/</guid>
<description><![CDATA[${item.content | x}]]></description>
<content:encoded><![CDATA[${item.content | x}]]></content:encoded>
</item>
% endfor
</channel>
</rss>
